.film-id {
  width: 30px;
  display: block;
  float: left;
}
.film-name {
  width: 400px;
  display: block;
  float: left;
}
.film-year {
  width: 100px;
  display: block;
  float: left;
}
.film-name input,
.film-year input {
  width: 90%;
}
.film-remove:hover,
.film-edit:hover,
.film-edit-cancel:hover,
.film-edit-save:hover {
  cursor: pointer;
}
.film-edit-cancel {
  text-decoration: line-through;
}
.film-container:hover {
  background-color: #b0c4de;
}
#films-container {
  margin-bottom: 10px;
}
