.film-id{
	width: 30px;
	display: block;
	float: left;
}

.film-name{
	width: 400px;
	display: block;
	float: left;
}

.film-year{
	width: 100px;
	display: block;
	float: left;
}

.film-container{
	clear: both;
}