inline-block(width)
  width width
  display block
  float left

.film-id
  inline-block(30px)

.film-name
  inline-block(400px)

.film-year
  inline-block(100px)

.film-name
.film-year
  input
    width 90%

.film-remove
.film-edit
.film-edit-cancel
.film-edit-save
  &:hover
    cursor: pointer

.film-edit-cancel
  text-decoration line-through

.film-container:hover
  background-color lightsteelblue

#films-container
  margin-bottom 10px